body {
    margin: 0;
    margin-top: 50px;
    height: 5000px;
    background-color: #F5F2F2;
    color: #444444; 
}

.wrapper-01 {
    background-color: #041E40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.headerWrapper {
    width: 1000px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    margin: 0 auto;
}

.headerImage {
    height: 40px;
}

nav ul li {
    display: inline;
    padding-right: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f7;
}

.hero {
    display: flex;
    background-image: url(./images/Hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    margin: 0;
    position: relative;
    z-index: -1;
}

.description {
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background: inherit;
    border-radius: 6px;
    position: absolute;
    overflow: hidden;
    top: 65%;
    right: 7%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    color: white;
}

.description:after {
    content: " ";
    background: inherit;
    position: absolute;
    width: calc(auto+50px);
    height: calc(auto+50px);
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, .25);
    filter: blur(10px);
    z-index: -1;
}

.description h1 {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}

.wrapper-02 {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cardL {
    display: flex;
    height: 200px;
    border-radius: 6px;
    margin-top: 90px;
    margin-left: 100px;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 0px 36px -18px rgba(66,70,87,0.39);
    -moz-box-shadow: 0px 0px 36px -18px rgba(66,70,87,0.39);
    box-shadow: 0px 0px 36px -18px rgba(66,70,87,0.39);
}

.cardL-img {
    height: 300px;
    margin-top: -50px;
    margin-left: -100px;
    border-radius: 150px;
    float: left;
}

.cardL-content {
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 51px;
    width: inherit;
    position: relative;
}

.cardL-content h1 {
    font-family: Roboto;
    font-size: 1.5em;
}

.cardL-signature {
    position: absolute;
    bottom: -10px;
    right: 15px;
    height: 23.1px;
}

.cardR {
    display: flex;
    height: 200px;
    border-radius: 6px;
    margin-top: 90px;
    margin-right: 100px;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 0px 36px -18px rgba(66,70,87,0.39);
    -moz-box-shadow: 0px 0px 36px -18px rgba(66,70,87,0.39);
    box-shadow: 0px 0px 36px -18px rgba(66,70,87,0.39);
}

.cardR-img {
    height: 300px;
    margin-top: -50px;
    margin-right: -100px;
    border-radius: 150px;
    float: left;
}

.cardR-content {
    padding: 20px;
    margin: 0;
    display: inline-block;
    padding-left: 60px;
    width: inherit;
    position: relative;
}

.cardR-content h1 {
    font-family: Roboto;
    font-size: 1.5em;
}

.cardR-signature {
    position: absolute;
    bottom: -10px;
    right: 15px;
    height: 23.1px;