body{
    margin: 0;
}

.wrapper{
    background-color: #041E40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.headerWrapper{
    width: 1000px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    margin: 0 auto;
}

.headerImage{
    height: 40px;
}

nav ul li{
    display: inline;
    padding-right: 16px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.hero{
    display: flex;
    background-image: url(./images/Hero.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 0px;
    opacity: 0.72;
    height: 550px;
    position: relative;
    top: 50px;
    z-index: -1;
}

/*.description{
    border: 1px solid red;
    margin: 300px;
    height: 50px;
    width: 50px;
}